body {
    padding-top: 60px;
    padding-bottom: 40px;
    font-family: segoeUi, Arial, Helvetica, sans-serif;
}

#search {
    padding:2px 3px 2px;
    margin-top:7px;
    margin-right:10px;
}
a {
    text-decoration:none;
}


/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
 }

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* styles for removing the background from form */
.no-color {
  background-color: white;
  border-style:none;
}